<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>剑学在线视频</title>
    @Styles.Render("~/Content/flowplayer/skin/functional.css")
    @Scripts.Render("~/Scripts/jquery-1.10.2.min.js")
    @Scripts.Render("~/Content/flowplayer/flowplayer.min.js")
    @Scripts.Render("~/Scripts/VideoClient.js")
</head>
<body>
    @{
        String urlPath = HttpContext.Current.Request.ApplicationPath + "/Video/";
        string style = ViewData["style"] == null ? "1" : ViewData["style"].ToString();
        string backgroudImageName = ViewData["backgroudImageName"] == null ? "" : ViewData["backgroudImageName"].ToString();
        string poster = "";
        if (!string.IsNullOrWhiteSpace(backgroudImageName))
        {
            poster = urlPath + backgroudImageName;
        }
        int width = int.Parse(ViewData["width"].ToString());
        if (width == 0)
        {
            width = 1200;
        }
        int height = int.Parse(ViewData["height"].ToString());
        if (height == 0)
        {
            height = 742;
        }
        string widthStr = width + "px";
        string heightStr = height + "px";
        string ratio = string.Format("{0}", ((double)height / (double)width));
        var token = ViewData["token"].ToString();
        string vedioSrc = "";
        if (ViewData["name"] != null) { vedioSrc = urlPath + ViewData["name"] + ".mp4?token=" + ViewData["token"]; }

    }
    <input id="token" type="hidden" value="@token">
    <!-- the player -->
    @if (style == "1")
    {
        <div style="display: block; width: @widthStr; height: @heightStr;">
            <div class="flowplayer" data-swf="Content/flowplayer/flowplayer.swf" data-ratio="@ratio">
                @if (string.IsNullOrWhiteSpace(poster))
                {
                    <video>
                        <source type="video/mp4" src="@vedioSrc">
                    </video>
                }
                else
                {
                    <video poster="@poster">
                        <source type="video/mp4" src="@vedioSrc">
                    </video>
                }
            </div>
        </div>
    }
    else if (style == "2")
    {
        if (string.IsNullOrWhiteSpace(poster))
        {
            <video controls width="@width" height="@height" style="background-color:#000000">
                <source type="video/mp4" src="@vedioSrc">
            </video>
        }
        else
        {
            <video controls width="@width" height="@height" poster="@poster" style="background-color:#000000">
                <source type="video/mp4" src="@vedioSrc">
            </video>
        }
    }


</body>
</html>
